		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#/home"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Bussines User</li>
			</ol>
		</div><!--/.row-->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
                    
					<div class="panel-heading">Bussines User</div>
					<div class="panel-body">
                        <div class="bootstrap-table">
							<div class="fixed-table-toolbar">
								<div class="pull-right search">
									<input class="form-control" type="text" placeholder="Search" ng-model="searchText">
								</div>
							</div>
							<div class="fixed-table-container">
								<div class="fixed-table-body">
								<table class="table table-hover">
									<thead>
									<tr>
										<th style="text-align: right; "><div class="th-inner ">ID</div></th>
										<th><div class="th-inner ">Frist Name</div></th>
										<th><div class="th-inner ">Last Name</div></th>
										<th><div class="th-inner ">Email Id</div></th>
										<th><div class="th-inner ">Phone Number</div></th>
										<th ><div class="th-inner ">Status</div></th>
									</tr>
									</thead>
									<tbody>
										<tr ng-repeat="tod in toCount | filter:searchText">
											<td class="ng-binding" style="text-align: right; ">{{tod.UserId}}</td>
											<td class="ng-binding" >{{tod.FirstName}}</td>
											<td class="ng-binding" >{{tod.LastName}}</td>
											<td class="ng-binding" >{{tod.EmailID}}</td>
											<td class="ng-binding" >{{tod.PhoneNum}}</td>
											<td >
											<label class="switch">
												<input type="checkbox" name="status" id="status-{{tod.UserId}}">
												<div class="slider round" ng-click="!(tod.isActive);dataChanged(tod)" data-toggle="modal" data-target="#myModal"></div>
											</label>
										</td>
										</tr>
									</tbody>
								</table>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bussines User</h4>
            </div>
            <div class="modal-body">
                			<div class="col-mg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-md-6">
							<form role="form" ng-submit="updateChanged()">
							
								<div class="form-group">
									<label>Bussines User Name</label>
									<input class="form-control" id="name" name="name" ng-model="name" readonly required>
								</div>
								<div class="form-group">
									<label>Comment</label>
									<input class="form-control" id="comment" name="comment" ng-model="comment" required>
								</div>
								<div class="form-group">
									<label>Status</label>
									<div class="radio" ng-init="status = 'true'">
										<label>
											<input type="radio" name="status"  ng-model="status" value="true" checked="checked">Approved
										</label>
                                        <label>
											<input type="radio" name="status" ng-model="status"  value="false">Rejected
										</label>
									</div>
								</div>
								<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												Submit
											</button>
										</div>
									</div>
			
							</form></div>
						
					</div>
				</div>
			</div><!-- /.col-->
		</div>
            </div>
            </div>

        </div>
        </div>
