		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#/home"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Profession</li>
			</ol>
		</div><!--/.row-->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
                    
					<div class="panel-heading">Profession<button class="btn btn-primary right" data-toggle="modal" data-target="#myModal">Add New Profession</button></div>
					<div class="panel-body">
                        <div class="bootstrap-table">
                            <div class="fixed-table-toolbar">
								<div class="pull-right search">
									<input class="form-control" type="text" placeholder="Search" ng-model="searchText">
								</div>
							</div>
							<div class="fixed-table-container">
								<div class="fixed-table-body">
								<table class="table table-hover">
									<thead>
									<tr>
										<th style="text-align: right; "><div class="th-inner ">ID</div></th>
										<th><div class="th-inner ">Name</div></th>
										<th ><div class="th-inner ">Status</div></th>
										<th ><div class="th-inner ">Manage</div></th>
									</tr>
									</thead>
									<tbody>
										<tr ng-repeat="tod in toCount | filter:searchText">
											<td class="ng-binding" style="text-align: right; ">{{tod.ProfessionId}}</td>
											<td class="ng-binding" >{{tod.ProfessionName}}</td><td >
											<label class="switch">
												<input type="checkbox" ng-checked="tod.isActive" name="status-1">
												<div class="slider round" ng-click="dataChanged(tod)"></div>
											</label>
										</td>
										<td><span ng-click="deleteData(tod)"><a style="cursor: pointer">Delete</a></span></td>
										</tr>
									</tbody>
								</table>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Profession</h4>
            </div>
            <div class="modal-body">
                			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="col-md-6">
							<form role="form" ng-submit="addData()">
							
								<div class="form-group">
									<label>Profession Name</label>
									<input class="form-control" id="name" name="name" ng-model="name" placeholder="Profession Name" required>
								</div>
								<div class="form-group">
									<label>Status</label>
									<div class="radio" ng-init="status = 'true'">
										<label>
											<input type="radio" name="status" ng-model="sattus" value="true" checked="">Active
										</label>
                                        <label>
											<input type="radio" name="status" ng-model="sattus" value="false">In Active
										</label>
									</div>
								</div>
								<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												Submit
											</button>
										</div>
									</div>
			
							</form></div>
						
					</div>
				</div>
			</div><!-- /.col-->
		</div>
            </div>
            </div>

        </div>
        </div>
