<div class="row">

    <!--( b ) Profile Page Content -->
    <div class="content-container col-md-12 col-sm-12">
        <!--( A ) Story of Glory -->
        <div class="clearfix">
            <h2 class="small-heading">LEARN ABOUT US</h2>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="video embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qTSDL94_Y7M" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="about-us-desc">
                                <p>
                                    Quisque in tempor sapien, et cursus neque. Nunc pulvinar diam ac dapibus mollis. Etiam id iaculis lorem. Donec bibendum volutpat ante, eu consequat nisi suscipit at. Etiam interdum augue dolor
                                </p>
                                <p>
                                    Faliquam hendrerit a augue in suscipit. Pellen tesque id erat quis sapien a dignissim sollicitu din. Nulla B-4 mattis tortor sit amet lorem dolor  amer sollicitudin aliquam dignissim so much.
                                    Ut cursus massa at urnaac assin got pressed hadrtits lis estie. Sed aliquamellus tae ultrices condimentum, the Bootstrap 4 leo massa mollis estiegittis miristum nu endrerit a augue in su cipit.Pe lla eo massa mlli joss mama.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--( B ) What Can I Do -->
        <div class="clearfix">
            <h2 class="small-heading">OUR FUN FACTS</h2>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <div class="row">
                        <div class="services col-md-4  col-xs-12">
                            <div class="facts">
                                <div class="facts-overlay">
                                    <i class="fa fa-code fa-3x"></i>
                                    <p class="count">1956628</p>
                                    <p class="text-capitalize">lines of code</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Service Item [ END ]  -->
                        <div class="services col-md-4  col-xs-12">
                            <div class="facts">
                                <div class="facts-overlay">
                                    <i class="fa fa-coffee fa-3x"></i>
                                    <p class="count">1473</p>
                                    <p class="text-capitalize">cups of coffee</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Service Item [ END ]  -->
                        <div class="services col-md-4  col-xs-12">
                            <div class="facts">
                                <div class="facts-overlay">
                                    <i class="fa fa-cubes fa-3x"></i>
                                    <p class="count">500</p>
                                    <p class="text-capitalize">projects delivered</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Service Item [ END ]  -->
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix full-height">
            <h2 class="small-heading">MEET THE TEAM</h2>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="team-member-box center-block text-center">
                                <img src="../img/team_member1.jpg" class="img-responsive">
                                <h4 class="text-capitalize">loras tyrel</h4>
                                <p class="text-uppercase">founder and ceo</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="team-member-box center-block text-center">
                                <img src="../img/team_member2.jpg" class="img-responsive">
                                <h4 class="text-capitalize">john snow</h4>
                                <p class="text-uppercase">head of attorney</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="team-member-box center-block text-center">
                                <img src="../img/team_member3.jpg" class="img-responsive">
                                <h4 class="text-capitalize">sansa stark</h4>
                                <p class="text-uppercase">creative coder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--( D ) Footer -->
        <div class="footer clearfix">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">

                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>