<div class="row">

    <!--( b ) Portfolio Page Content -->

    <div class="content-container col-md-12 col-sm-12">
        <!--( A ) Portfolio -->
        <div class="clearfix">
            <h2 class="small-heading">Profile Search</h2>
        </div>
        <div class="clearfix">
            <div class="bar">
                <div ng-controller="profileSearchController as profile" layout="column" ng-cloak="" class="autocompletedemoCustomTemplate">
                    <div class="search-ccontainer">
                        <md-content layout-padding="" layout="column" md-menu-class="autocomplete-custom-contentbox">
                            <form ng-submit="$event.preventDefault()">
                                <md-autocomplete ng-disabled="profile.isDisabled" md-no-cache="profile.noCache" md-selected-item="profile.selectedItem" md-autofocus="true" md-floating-label="Search Profiles" md-search-text-change="profile.searchTextChange(profile.searchText)" md-search-text="profile.searchText" md-selected-item-change="profile.selectedItemChange(item)" md-items="item in profile.querySearch(profile.searchText)" md-item-text="item.name" md-min-length="0" placeholder="Search Profiles here" md-menu-class="autocomplete-custom-template">
                                    <md-item-template>
                                        <div class="search-item item-metadata">
                                            <div class="row">
                                                <div class="col-sm-2 item-title">
                                                    <img src="{{item.src}}" />
                                                </div>
                                                <div class="col-sm-10 item-metastat">
                                                    <p><strong>Name:</strong> <span>{{item.name}} </span> </p>
                                                    <p><strong>City:  </strong><span>{{item.city}}</span> </p>
                                                    <p><strong>Profession:</strong>  <span>{{item.Profession}}</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </md-item-template>
                                    <md-not-found>
                                        No matches found.
                                    </md-not-found>
                                </md-autocomplete>
                            </form>
                        </md-content>
                    </div>

                    <div class="tabs">

                    </div>
                    <div class="main-slider-container">
                        <div class="tile" ng-repeat="item in profile.querySearch(profile.searchText)">
                            <div class="tile-header">
                                <div class="slide-cotainer">
                                    <div class="flexslider">
                                        <img src="{{item.src}}" title="profile" class="profile-view-item" />
                                    </div>
                                </div>
                            </div>
                            <div class="tile-body">
                                <p class="tile-data"><strong>Name:</strong> {{item.name}}</p>
                                <p class="tile-data"><strong>City: </strong>{{item.city}}</p>
                                <p class="tile-data"><strong>Profession: </strong>{{item.Profession}}</p>
                                <p class="text-right text-seemore" ng-click="seeFullProfile()">Click Here for Full details</p>
                            </div>
                        </div>
                        <div class="fullSearch-div" ng-show="isfullProfile">
                            <table class="search-table opportunity-table">
                                <tbody>
                                    <tr>
                                        <td class="width-5"><img src="../../../img/portfolio/image_1.jpg" style="width:150px;height:100px" /></td>
                                        <td class="width-2"><p>Full Name</p></td>
                                        <td class="width-2"><p>Name</p></td>
                                    </tr>
                                    <tr>
                                        <td class="width-5"><p>&nbsp;</p></td>
                                        <td class="width-2"><p>Current City</p></td>
                                        <td class="width-2"><p>Hyderabad</p></td>
                                    </tr>
                                    <tr>
                                        <td class="width-5"><p>&nbsp;</p></td>
                                        <td class="width-2"><p>Profession</p></td>
                                        <td class="width-2"><p>Software Developer</p></td>
                                    </tr>
                                    <tr>
                                        <td class="width-5"><p>&nbsp;</p></td>
                                        <td class="width-2"><p>Current City</p></td>
                                        <td class="width-2"><p>Hyderabad</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>&nbsp;</p></td>
                                        <td><p>Profession</p></td>
                                        <td><p>Software Developer</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>&nbsp;</p></td>
                                        <td><p>Current City</p></td>
                                        <td><p>Hyderabad</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>&nbsp;</p></td>
                                        <td><p>Profession</p></td>
                                        <td><p>Software Developer</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>&nbsp;</p></td>
                                        <td><p>Current City</p></td>
                                        <td><p>Hyderabad</p></td>
                                    </tr>
                                    <tr>
                                        <td><p>&nbsp;</p></td>
                                        <td><p>Profession</p></td>
                                        <td><p>Software Developer</p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row" ng-controller="profileSearchController">
            <div class="col-md-12">
                <label for="" class="control-label">Basic usage, Google maps api with keepselection</label>
                <bootcomplete btc-minlength="1" btc-maxresults="5" btc-size="md" btc-label="formatted_address" btc-placeholder="Search a city..." btc-query="citySearch" btc-noresults="No results!" btc-keepselection="true" ng-model="city2"></bootcomplete>
            </div>
        </div>-->
    </div>
</div>